.lora-text {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.header {
  width: 100%;
  height: 16px;
  display: flex;
  position: sticky;
  box-sizing: border-box;
  align-items: center;
  z-index: 1;
  padding: 0 12px;
  justify-content: space-between;
  margin: 12px 0;
}

div.user-content {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;

    background-color: #f5e1e1;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

label.save-notify {
  margin-left: 8px;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}
.success {
  color: green;
}
.error {
  color: red;
}
.highlighted {
  display: inline-block;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
