rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /morningPages/{docId} {
     allow read, write: if request.auth != null;
    }
  }
}
